:root {
    --background-color: #3f4058;
    --container-color: #b2a897;
    --header-text-color: #3f4058;
    --paragraph-text-color: #3f4058;
    --border-color: #776e65;
    --button-color: #776e65;
    --button-hover-color: #6d655d;
    --button-pressed-color: #615952;
    --options-color: #776e65;
    --button-text-color: #f4efe7;
    --editor-background-color: #eee8ce;
    --editor-gutter-color: #776e65;
    --editor-active-line-color: #e2ddc5;
    --editor-gutter-cell-color: #776e65;
    --line-number-color: #b8ae9e;
    --active-line-number-color: #f4efe7;
    --selection-color: rgba(63, 64, 88, 0.30);

    --margin-default: 12px 0px;
    --margin-result-block: 30px 0px 0px 0px;

    --editor-shadow:
        0 6.7px 16.7px -4.7px rgba(0, 0, 0, 0.40),
        0 1.3px 10px 0px rgba(0, 0, 0, 0.08),
        0 3.3px 4px -2px rgba(0, 0, 0, 0.14);

    --container-shadow:
        0 10.7px 25.3px -8px rgba(0, 0, 0, 0.56),
        0 2.7px 16.7px 0px rgba(0, 0, 0, 0.12),
        0 5.3px 6.7px -3.3px rgba(0, 0, 0, 0.2);

    --button-shadow:
        0 4px 9.3px -2.7px rgba(0, 0, 0, 0.50),
        0 0.7px 6.7px 0px rgba(0, 0, 0, 0.10),
        0 2px 2.7px -1.3px rgba(0, 0, 0, 0.18);

    --button-pressed-shadow:
        0 2px 4.7px -1.3px rgba(0, 0, 0, 0.50),
        0 0.7px 3.3px 0px rgba(0, 0, 0, 0.10),
        0 0.7px 1.3px -0.7px rgba(0, 0, 0, 0.18);

    --answer-shadow:
        0 4px 9.3px -2.7px rgba(0, 0, 0, 0.28),
        0 0.7px 6.7px 0px rgba(0, 0, 0, 0.06),
        0 2px 2.7px -1.3px rgba(0, 0, 0, 0.1);

    --button-transition:
        background-color 0.17s ease-in-out,
        transform 50ms ease-in-out,
        box-shadow 50ms ease-in-out;

    --button-pressed-transform: translateY(1px) scale(0.99);

    --button-font-size: min(16px, 1.6vmin);
    --filename-font-size: min(15px, 1.5vmin);
    --answer-font-size: min(18px, 1.8vmin);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 80vh;
    max-width: 80vmin;
    background-color: var(--container-color);
    /* Легкий кофейный фон */
    padding: 20px;
    border-radius: 16px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    box-shadow: var(--container-shadow);

}

.content {
    width: 85%;
    height: 95%;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: var(--header-text-color);
    /* Темный кофейный цвет для заголовка */
    margin-top: 0px;
    margin-bottom: 20px;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

h3 {
    color: var(--header-text-color);
    /* Темный кофейный цвет для заголовка */
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;

    text-align: left;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

/* .file-upload-block {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
} */

.file-upload {
    width: 40%;
    margin: var(--margin-default);

    display: flex;
    align-items: center;
    justify-content: left;
}

input[type="file"] {
    padding: 8px;
    margin-right: 10px;
    /* background-color: #f8f1e1;
    border: 1px solid #c5a67d; */
    border-radius: 8px;
}

button {
    padding: 8px 16px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--button-font-size);
    transition: var(--button-transition);

    box-shadow: var(--button-shadow);
}


.result {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--margin-result-block);
}

.verification-label-block {
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: left;
}

.verification-code-block {
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.copy-btn-block {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.verification-label {
    font-size: var(--answer-font-size);
    color: var(--paragraph-text-color);
    font-weight: bold;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#verificationCode {
    padding: 7px;
    font-size: 14.5px;
    text-align: center;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--editor-background-color);
    color: var(--paragraph-text-color);
    outline: none;

    box-shadow: var(--answer-shadow);
    box-sizing: border-box;

    /* Новые свойства */
    display: inline-block;
    min-width: 120px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: text;
}

#verificationCode::selection {
    background-color: var(--selection-color);
}

.copy-btn {
    outline: none;
    user-select: none;

    padding: 8px 16px;
    background-color: var(--button-color);
    border: none;
    color: var(--button-text-color);
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--button-font-size);
    transition: var(--button-transition);

    box-shadow: var(--button-shadow);
}

.copy-btn:hover {
    background-color: var(--button-hover-color);
}

.copy-btn:active {
    transform: var(--button-pressed-transform);
    box-shadow: var(--button-pressed-shadow)
}

.copy-btn:disabled {
    animation: none;
    transition: none;
    pointer-events: none;
    /* Блокировать все события клика */

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.verification-code {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--paragraph-text-color);
}

.verification-code span:first-child {
    font-weight: bold;
    margin-right: 5px;
}

#resultNumber {
    font-size: 24px;
    font-weight: bold;
    color: var(--paragraph-text-color);
    /* Цвет для результата */
}

#copyBtn {
    font-size: var(--button-font-size);
}

#fileInput {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--button-font-size);
    transition: var(--button-transition);
    text-align: center;
    margin-right: 10px;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    box-shadow: var(--button-shadow);
}

.custom-file-upload:active {
    transform: var(--button-pressed-transform);
    box-shadow: var(--button-pressed-shadow);
}

.custom-file-upload:hover {
    background-color: var(--button-hover-color);
}

#fileName {
    padding-left: 8px;
    font-size: var(--filename-font-size);
    color: var(--paragraph-text-color);

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#errorBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
    /* Перемещает блок ошибок вниз контейнера */

    height: 40%;
    min-height: 0;
    /* Критически важно для flex-контейнера */
    flex: 0 0 auto;
    /* Запрещаем растягивание */
}

.errors-detected {
    height: 10%;

    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

#errorList {
    outline: none;
    height: 25vh;

    font-family: Consolas, 'Courier New', monospace;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
    /* height: 80% !important; */
    border: 2px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--editor-background-color);
    color: var(--paragraph-text-color);
    resize: none;
    /* разрешаем изменение только по вертикали */
    white-space: pre-wrap;
    /* сохраняем переносы строк */
    overflow: auto;
    /* добавляем скроллинг при переполнении */

    box-shadow: var(--editor-shadow);
}

#errorList::selection {
    background-color: var(--selection-color);
}

/* Кастомизация скроллбара для WebKit-браузеров (Chrome, Edge, Safari) */
#errorList::-webkit-scrollbar {
    width: 12px;
}

#errorList::-webkit-scrollbar-track {
    background: var(--editor-background-color);
    border-radius: 8px;
}

#errorList::-webkit-scrollbar-thumb {
    background-color: var(--button-color);
    border-radius: 8px;
    border: 2px solid var(--editor-background-color);
    cursor: auto;
}

#errorList::-webkit-scrollbar-thumb:hover {
    background-color: var(--button-hover-color);
}

/* .editor-wrapper {
    max-height: 500px;
    width: 80%;
    min-height: 30px;
    overflow: auto;
    border: 2px solid #6f4f1e;
    border-radius: 8px;
    background-color: #e7dac7;    
    margin: 10px 0px
} */

#editor {
    background-color: var(--editor-background-color);

    width: 100%;
    height: 50%;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    margin: var(--margin-default);

    box-sizing: border-box;

    box-shadow: var(--editor-shadow);
}

.buttons-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check-button-block {
    margin: var(--margin-default);
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: right;
}

#checkButton {
    outline: none;
    user-select: none;

    padding: 8px 16px;
    background-color: var(--button-color);
    border: none;
    color: var(--button-text-color);
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--button-font-size);
    transition: var(--button-transition);

    box-shadow: var(--button-shadow);
}

#checkButton:active {
    transform: var(--button-pressed-transform);
    box-shadow: var(--button-pressed-shadow);
}

#checkButton:hover {
    background-color: var(--button-hover-color);
}

.ace_gutter {
    /* padding-top: 8px; */
    bottom: 0px !important;
}

/* .ace_content {
    padding: 8px 0px 0px 4px;
} */

.ace_scroller {
    right: 12px !important;
    bottom: 12px !important;
}

.ace_active-line {
    background-color: var(--editor-active-line-color) !important;
}

.ace_gutter-cell {
    background-color: var(--editor-gutter-cell-color) !important;
    color: var(--line-number-color) !important;
}

.ace_gutter-active-line {
    color: var(--active-line-number-color) !important;
}

.ace_selection {
    background-color: var(--selection-color) !important;
}

.ace-solarized-light .ace_gutter {
    background: var(--editor-gutter-color);
}


/* Вертикальный скроллбар Ace */
.ace_editor .ace_scrollbar-v {
    top: 0px !important;
    width: 12px !important;
    /* Ширина как у #errorList */
}

/* Горизонтальный скроллбар Ace */
.ace_editor .ace_scrollbar-h {
    height: 12px !important;
    margin-left: 1px !important;
}

/* Ползунок Ace */
.ace_editor .ace_scrollbar-thumb {
    background-color: var(--button-color) !important;
    border-radius: 8px !important;
    border: 2px solid var(--editor-background-color) !important;
}

/* Трек скроллбара Ace */
.ace_editor .ace_scrollbar {
    background: var(--editor-background-color) !important;
    border-radius: 8px !important;
}

/* Ховер-эффект для ползунка */
.ace_editor .ace_scrollbar-thumb:hover {
    background-color: var(--button-hover-color) !important;
}

/* Для WebKit-браузеров */
.ace_editor ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.ace_editor ::-webkit-scrollbar-thumb {
    background: var(--button-color);
    border-radius: 8px;
    border: 2px solid var(--editor-background-color);
}

.ace_editor ::-webkit-scrollbar-thumb:hover {
    background: var(--button-hover-color);
}

.ace_editor ::-webkit-scrollbar-track {
    background: var(--editor-background-color);
    /* border-radius: 8px; */
}

/* Для Firefox */
/* .ace_editor {
    scrollbar-color: var(--button-color) var(--editor-background-color);
    scrollbar-width: thin;
} */


/* Стиль для блока выбора задания */
.program-selector {
    margin: var(--margin-default);
    text-align: center;
}

.program-selector select {
    outline: none;
    user-select: none;

    padding: 8px 16px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 50ms ease-in-out;


    appearance: none;
    /* убираем системную стрелку */
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 10px;
    padding-right: 30px;

    box-shadow: var(--button-shadow);
}

.program-selector select:active {
    background-color: var(--button-pressed-color) !important;
    /* box-shadow: var(--button-pressed-shadow); */
}

.program-selector select:hover {
    background-color: var(--button-hover-color);
}

/* Не трогаем option — они будут системными */
.program-selector option {
    border-radius: 8px !important;

    background-color: var(--options-color);
    color: var(--button-text-color);
}

/* .loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    border-top: 2.5px solid var(--button-hover-color);
    border-right: 2.5px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
  
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}  */

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
    display: none;

    color: var(--button-color);
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@keyframes bblFadInOut {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}

.hotkey-hint-block {
    width: 45%;

    display: flex;
    align-items: center;
    justify-content: right;
}

.hotkey-hint {
    user-select: none;

    display: none;

    width: 100%;
    text-align: right;
    font-size: var(--filename-font-size);
    color: var(--button-hover-color);
}